table,
th,
td {
    border: 1px solid green;
}

body {
    border: ridge
}

p {
    border: 1px solid red;
    outline-style: dotted;
    outline-color: #00ff00;
}

h2.a {
    border-style: solid;
    border-width: 10px;
    background-color: lightblue;
}

h2.b {
    border-style: solid;
    border-width: 5px;
    background-color: lightblue;
}

h2.c {
    border-style: solid;
    border-width: thin;
    background-color: lightblue;
}

h2.d {
    border-style: solid;
    border-width: 0px;
    background-color: lightblue;
}